@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --theme-color: #f42aad;
}

.group:hover .child {
    @apply visible opacity-100;
}

/* Tailwind CSS */
.group[data-theme-active='true'] .child {
    display: none;
}

.group[data-theme-active='false'] .active-child {
    display: none;
}
